.profile-container {
    min-height: calc(100vh - 260px);
    background-color: #eef0f1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    /* z-index: -2; */
}

.profile-container::after {
    content: "";
    width: 100%;
    min-height: 150px;
    background-color: #000;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

.profile-content {
    z-index: 100;
}

.profile-about {
    background-color: #fff;
    border-radius: 10px;      
    text-align: center; 
    margin-top: 64px;
    padding: 16px;
    position: relative;
}

.profile-about img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 10px solid #000;
    object-fit: cover;
    margin-top: 20px;
}

.profile-about h3 {
    font-size: 30px;
    color: #08090a;
    margin-top: 10px;
    font-weight: 700;
}

.profile-about span {
    font-size: 18px;
    color: #08090a;
}

.profile-about .sticker {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-about .sticker ul{
    display: flex;
    list-style: none;
}

.profile-about .sticker ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #60707D;
    margin-right: 20px;
}

.profile-about .sticker ul li svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.profile-about .edit-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: #3b49df;
    color: #f9fafa;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}   

.profile-about .edit-btn:hover {
    background-color: #4f299b;
}

.qq {
    margin-top: 10px;
}

.ss {
    padding-left: 0;
}
.statistics {
    background-color: #f9fafa;
    padding: 16px;
    border-radius: 10px;
}

.statistics ul {
    list-style: none;

    padding: 0;
    margin: 0;
}

.statistics ul li {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 16px;
}

.statistics ul li svg {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    font-size: 16px;
    color: #202428;
}
.ww {
    padding-right: 0;
}

.blog-item {
    margin-bottom: 10px;
}

.blog-item a img{
    width: 100%;
    border-radius: 5px;
    height: 270px;
    object-fit: cover;
}

.blog-item a .blog-item-content{
    padding: 16px;
}

.blog-item a {
    text-decoration: none;
}

.blog-item a .blog-item-content .author{
    color: #363d44;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}

.blog-item a .blog-item-content .author img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;

}

.blog-item a .blog-item-content .author-title {
    padding-left: 40px;
    font-size: 30px;
    color: #08090a;
    font-weight: 700;
}

.blog-item a .blog-item-content .author-title svg{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.blog-item a .blog-item-content .author-title span {
    font-size: 12px;
    font-weight: 400;
}
.profile-post-button-control{
    display: flex;
    justify-content: flex-end;
}

.profile-post-button-control .edit-button{
    margin-right: 10px;
    margin-bottom: 10px;
}
